# =========================
# IntelliJ (TODOS los niveles)
# =========================
.idea/
*.iml

# =========================
# Maven build
# =========================
**/target/

# =========================
# Java compilados
# =========================
*.class

# =========================
# Logs / temporales
# =========================
*.log
*.tmp

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db